<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>DRF CURD OPERATIONS</h1></center><br>
    <h2>1.CREATE API </h2> 
    <a href="/create-contact/">create</a>

    <h2>2.UPDATE API </h2> 
    <a href="/update-contact/1/">update</a>

    <h2>3.delete API</h2> 
    <a href="/delete-contact/6/">delete</a>

    <h2>4.VIEW ALL API </h2> 
    <a href="/api/">view</a>

    


</body>
</html>